@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

body {
	color: #565a5c;
	background-color: #f8f8f8;
	font-family: "Varela Round","Helvetica Neue","Helvetica","Arial", sans-sarif;
}

a {
	color: #00a699;
}

.container {
	width: 80%
}

.text-babu .icon-babu {
	color: #00a699;
}
//Navbar
.navbar-default {
	background-color: #ffffff;
}
.navbar-default .navbar-brand {
	color: #ff5a5f;
	font-size: 2em;
	font-weight: 400;
}
//Buttons
.btn-block {
	display: block;
	white-space: normal; 
	width: 100%;
}

.btn {
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	padding: 9px 27px;
}

.btn-small {
	padding: 5px 15px;
	margin-top: 15px;
}

.btn:hover, .btn:focus {
	color: #fff;
}

.btn.btn-default {
	width: 100%;
	border-color: #c4c4c4;
	background: withe;
	color: #484848;
	border-radius: 2px;
	padding: 10px 0;
	margin-top: 10px;
}
//1
.btn.btn-normal {
	border: 1px solid #ff5a5f;
	background-color: #ff5a5f;
}

.btn.btn-normal:active {
	outline: none;
	border-color: #e00007;
	background-color: #e00007;
}
//2
.btn.btn-form {
	border: 1px solid #00a699;
	background-color: #00a699;
}

.btn.btn-form:active {
	outline: none;
	border-color: #066a69;
	background-color: #066a69;
}

.btn.btn-facebook {
	border: 1px solid #385998;
	background-color: #385998;
}

.btn.btn-facebook:active {
	outline: none;
	border-color: #2d467b;
	background-color: #2d467b;
}

//Pannels

.panel-default .panel-heading {
	color: #fff;
	background-color: #00a699;
	font-size: 18px;
	font-weight: 400;
}

.row-space-1 {
	margin-top: 6px;
	margin-bottom: 6px;
}

.row-space-2 {
	margin-top: 12px;
	margin-bottom: 12px;
}

.row-space-3 {
	margin-top: 24px;
	margin-bottom: 24px;
}

.description {
	color: #575757;
	font-size: 15px;
	font-weight: 500; 
}
//Avatar
.avatar_small {
	width: 28px;
}
.avatar_medium {
	width: 48px;
}
.avatar_large {
	width: 68px;
}
.avatar_full {
	width: 100%;
}